body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Raleway", sans-serif;
}

.btn btn-outline-info {
    padding-top: 40px;
    padding-bottom: 40px;
}