{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Welcome! </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    <link
            href="https://necolas.github.io/normalize.css/latest/normalize.css"
            rel="stylesheet"/>
</head>

        <h1> Hey {{ user.username }}!</h1>
        <a type="button" class="btn btn-outline-info" href="{% url 'story9:logout' %}"> Log Out </a>

</body>
</html>